

[{kernel, 
  [{s_groups,
   [{group1, normal,  ['node1@hl-lt.home', 'node2@hl-lt.home','node3@hl-lt.home','node4@hl-lt.home']},
    {group2, normal,  ['node7@hl-lt.home', 'node4@hl-lt.home',
                       'node5@hl-lt.home']},
    {group3, normal,  ['node6@hl-lt.home',  'node7@hl-lt.home']}
    ]}]}].
 
